[submodule "skills"]
	path = skills
	url = https://github.com/ethanol777/hermes-skills.git
[submodule "config"]
	path = config
	url = https://github.com/ethanol777/hermes-config.git
[submodule "learnings"]
	path = learnings
	url = https://github.com/ethanol777/hermes-learnings.git
[submodule "agentic-stack"]
	path = agentic-stack
	url = https://github.com/ethanol777/agentic-stack.git
